<h1>Hello World!</h1> <!--a4, at PagesController.rb , with def home, they must find a home view(home.html.erb), then from go
                        back to controller and re-route back to the user. 
