<!-- D3, create a todos folder 1st cause it 1st find a todos folder at views and then from def new, it will find a new.html.erb -->

<h1> Your Todo App </h1> <!--todo1, create a title-->

<%= render 'form' %>
