<!-- create a partial the code below were cut and paste from application.html.erb, go to application.html.erb -->
<!-- create a partial to clean up the clutters from our application.html.erb, partial is created to clean up some smelly code,
u want to refactor code when they start to smell  -->


<% flash.each do |name, msg| %> <!--flash2, display the message that we already assigned with the variable |msg| -->
<ul>
  <li><%= msg %></li> <!--msg is defined at new.html.erb -->
  <ul>

    <%end%>
